@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Использование шрифта */
body {
  font-family: 'Roboto', sans-serif;
}
