
$background-input: rgb(210, 237, 250);
$border-input: rgb(20, 146, 204);
$box-shadow-input: 0 0 0 0.2rem rgba(20, 146, 204, 0.5);

$background-btn-action: rgb(210, 237, 250);
$border-btn-action: rgb(20, 146, 204);

